body {
    font-family: Arial;
    background: url(images/mapofEurope.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

header, main, footer {
    background-color: honeydew;
    padding: 25px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

#menu-outer {
	height: 84px;
	background-color: honeydew;
}

.table {
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

